
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
    text-align: center;
  }

h1{
  font-size: 36px;
  margin-top: 20px;
}

.game-container{
  margin: 35px;
}

.board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.cell{
  width: 75px;
  height: 75px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  cursor: pointer;
}

.cell:hover{
  background-color: #f0f0f0;
}

.result-container{
  background-color: rgba(255,255,255,0.8);
  border: 2px solid #000;
  max-width: 200px;
  margin: 20px auto;
  padding: 10px;
}