
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
    text-align: center;
  }

h1{
  font-size: 50px;
  margin-top: 20px;
  color: #fff;
  text-shadow: 2px 3px 4px rgb(0, 0, 0);
}

.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 35px;
}

.board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}

.cell{
  width: 75px;
  height: 75px;
  font-size: 50px;
  font-weight: 500;
  align-items: center;
  line-height: 75px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.7);
  cursor: pointer;
  align-content: center;
}

.cell:hover{
  background-color: rgba(255,255,255,0.9);
  cursor: pointer;
}

.cell:disabled{
  color: #000;
  cursor: not-allowed;
}

.result-container{
  background-color: rgba(255,255,255,0.8);
  border: 2px solid #000;
  max-width: 200px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}

#result-text{
  font-size: 25px;
  color: #000;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}

.reset{
  text-align: center;
}
#reset-btn{
  border: 2px solid #000;
  color: #000;
  background-color: #e6e6e6;
  width: 60px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#reset-btn:hover{
  background-color: #ffffff;
  color: #636363;
}